:root{

    /* h1 variabili */
    --h1color:rgb(255, 255, 255);
 
    --h1y : 200px;

    /* start - variabili dei pulsanti della pagina centrale */
    --width_Button:202.17px ;
    --height_Button:129px ;
    --postionxButton: 280px;
    --postionyButton: 550px;
    --d_between: 300px;
    --gradiantcolor1:  #020024;;

    --gradiantcolor2:linear-gradient(180deg,rgba(241, 239, 255, 0.63) 0%, rgba(236, 234, 255, 0.527) 30%, rgba(232, 235, 255, 0.267) 100%);

    /* Mappe conttuale Pulsanti */
    --mc_color1: #3068d1;
    --mc_color2: linear-gradient(181deg, rgba(0, 129, 86, 0) 0%, rgba(0, 46, 146, 0.514) 30%, rgba(14, 204, 115, 0) 100%);
    

    /* TEXT Pulsanti*/
    --subtitle_x: auto;
    --subtitle_y:55px; 
    /* End : Text Pulsanti */

    
    /* End - variabili dei pulsanti della pagina centrale */

    /* Blocchi */
    
    /* Blocco 1 */
    --Position_B1:800px;

    /* Start - Variabili delle sezioni */
    --height_sections_linf : var(1900px);
    --width_sections_linf  : var(1800px);

    /* End - Variabili delle sezioni */    

    /* Mappe Concettuale */

    /* Mappa Concettuale del Sistema Linfatico  */

    --height_linfMap : 1000px;
    --width_linfMap : 1200px;

    /*Mappa Concettuale del  Sistema Immunitaria  */
    --height_ImmuneMap : 1000px;
    --width_ImmuneMap : 1200px;


}


*{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline none ;
}



html{
    scroll-behavior: smooth;
}


body{

   background-color: #0f0f0f; 

}

a{
    text-decoration: none;
    color: wheat;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    color: rgb(255, 218, 169);
    text-align: center ;
    position: relative;
    top: 300px;
    left: 500px;
}




h3{
    color: white;
    font-size: 1em;
}

/* ------------------------------------------------------------------- */

/*  Start - Pulsanti della Pagina Centrale  */

.sistema_linfatico {
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: wheat;
    text-align: center;
    border-radius: 10%;
    position: relative;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 150px;
    transition: 0.5s;
    
}

h4.sistema_linfatico{
    position: absolute;   
    left: 60px;
    bottom: 32px;
}


 .sistema_immunitario{
    height: var(--height_Button);
    width: var(--width_Button);
    /* background-color: rgb(26, 0, 172); */
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: wheat;
    text-align: center;
    border-radius: 10%;
    position: relative;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 150px;
    transition: 0.5s;
}



.italiano{
    height: var(--height_Button);
    width: var(--width_Button);
    /* background-color: rgb(26, 0, 172); */
    margin: auto;
    color: var(--h1color);
    background: -webkit-linear-gradient(#9e0404, #ab98ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: absolute;
    top: var(--h1y);
    font-size: 100px;
    margin-bottom: -250px;
    margin-left: 25%;
}

.logo{
    margin: auto;
    margin-top: 100px;
}
/* ------------------------------------------------------------------- */
/* main */



#main{
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(white , black);
    background-image: url(Imag/1.pagina_centrale/bg.png);
    /* background-image: url(Imag/1.pagina_centrale/bg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    transition: background-image  0.8s ease;
    display: flex;
}

#main.no-hover{
    background-image: url(Imag/1.pagina_centrale/bg.png);
}

#main.hovered1 {
    background-image: url(Imag/1.pagina_centrale/Limph_bg.png); 
  }

/*   #main.hovered1T {
    background-image: url(Imag/1.pagina_centrale/Limph_bg.png); 
  } */

  #main.hovered2 {
    background-image: url(Imag/1.pagina_centrale/immune\ bg.png);
  }

  #main.hovered3{
    background-image: url(Imag/1.pagina_centrale/Innate-Adaptive/bg_innate.after.png);
  }

/*   #main.hovered3T{
    background-image: url(Imag/1.pagina_centrale/Innate-Adaptive/bg_innate.png);
  } */


  #main.hovered4{
    background-image: url(Imag/1.pagina_centrale/Innate-Adaptive/bg_adaptiv.png);
  }

/*   #main.hovered4T{
    background-image: url(Imag/1.pagina_centrale/Innate-Adaptive/bg_adaptiv.png);
   } */
  #main.hovered5{
    background-image: url(Imag/1.pagina_centrale/malatie.png);
  }

/* buttone Mappe Conttuali dentro i pulsanti */
.MC_Button{
    background: var(--mc_color1);
    background: var(--mc_color2);
    color: #e2e4ff81;
    position: absolute;
    bottom: 180px;
    right: 20px;
    transition: 1.2s;
    border-radius: 3px;
    opacity: 0%;
    text-decoration: none;

    
}

.MC_Button:hover{
    color: rgb(242, 255, 248);
    transition: 1.5s;
    text-decoration: dashed;  
}
  

.b_subtitle{
    margin-right: var(--subtitle_x);
    margin-top: var(--subtitle_y);
}

.sistema_linfatico {
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: rgb(49, 87, 255);
    text-align: center;
    border-radius: 10%;
    position: absolute;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display:inline-block ;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: 0.5s;
}



.cellule{
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: rgb(68, 55, 255);
    text-align: center;
    border-radius: 10%;
    position: absolute;
    top: 550px;
    left: 235px;
    display: inline-block;
    margin-left: var(--d_between);
    margin-bottom: 0px;
    margin-top: 0px;
    transition: 0.5s;
}

.innata{
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: rgb(50, 81, 255);
    text-align: center;
    border-radius: 10%;
    position: absolute;
    top: 550px;
    left: 500px;
    display: inline-block;
    margin-left: var(--d_between);
    margin-bottom: 0px;
    margin-top: 0px;
    transition: 0.5s;
}

.adattiva{
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: rgb(56, 59, 255);
    text-align: center;
    border-radius: 10%;
    position: absolute;
    top: 550px;
    left: 770px;
    display: inline-block;
    margin-left: var(--d_between);
    margin-bottom: 0px;
    margin-top: 0px;
    transition: 0.5s;
}

.malattie{
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: rgb(43, 75, 255);
    text-align: center;
    border-radius: 10%;
    position: absolute;
    top: 550px;
    left: 1040px;
    display: inline-block;
    margin-left: var(--d_between);
    margin-bottom: 0px;
    margin-top: 0px;
    transition: 0.5s;
}



/* Effetti */

#immune-cell.hovered {
    transform: scale(1.2);
    filter: brightness(1.2);
    transition: all 1s ease;
  }


.sistema_linfatico:hover,
.cellule:hover,
.innata:hover,
.adattiva:hover,
.malattie:hover{
    transform: scale(110%);
    height: 230px;
    background-color: rgb(12, 8, 255);
    background: rgb(237,255,88);
    background: radial-gradient(circle, rgba(98, 166, 255, 0.363) 0%, rgba(73, 158, 255, 0.054) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid rgb(255, 255, 255) 0.1px;
}


/* Effetti Descrizione classi */
.wrapper .show-on-hover {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    width: none;
    height: none;
  }
  
  .wrapper:hover .show-on-hover {
      opacity: 1;
  visibility: visible;
  width: none;
  height: none;
  }


/*  End - Pulsanti della Pagina Centrale  */
/* Blocks */
#block1{
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: var(--Position_B1);
    }
/* End Blocks */

/* ------------------------------------------------------------------------------------------------- */


/*  Start - Sezioni Della pagina Centrale  */

/* Caratteri Generali per i Sezioni*/


iframe{

    width: 100%;
    height: 100%;
    border: none; 
    overflow: hidden;
    scrolling : no
}



.section_title{
    font-size: 100px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 0%;
    
    
}

.section_title h2 {
    font-size: 40px;
}

.subhead{
    width: 50px;
    height: 100px;
    position: absolute;
    right: 2200px;
    bottom: 500px;
}

/* Sistema Linfatico */
#linf-section {
    width: 100%;
    height: 100vh;
    /* background-image: url(Imag/1.pagina_centrale/TEXt/S_Linfatico.png); */
    /* background-image: url(Imag/1.pagina_centrale/linf-section/ling-section-bg.png); */
    /* background-image: url(Imag/1.pagina_centrale/linf-section/sectionbackground.jpg); */
    background-image: url(Imag/1.pagina_centrale/TEXt/S_Linfatico.BGG.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
} 

#linf-section h2{
    font-weight: 300;
    font-size: 64px;
    width: 500px;
    color: azure;
    position: relative;
    top: -400px;
    right:0px;
    
}

.linf-content{
    position: absolute;
}
#linf-section p {
    width: 500px;
    color: rgb(0, 133, 133);
    position: absolute;
    top: -300px;
    
}

#linf_map{
    height:1000px;
    width: var(--width_linfMap);
    /* background-color: #05743c; */
    position: relative;
    bottom: -140px;
    left: 60px;
}

/* ------------------------------------------------------------------------------------------ */



/* Ceullule */
 #cellule-section{
    width: 100%;
    height: 100vh;
    background-image: url(Imag/1.pagina_centrale/TEXt/S_cellule.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    } 
    .cellule-section{
        position: absolute;
    }
    #cellule-section h2{
        font-weight: 300;
        font-size: 64px;
        width: 600px;
        color: azure;
        position: relative;
        top: -340px;  
        left: 600px;
    }
    
    #cellule-section p {
        width: 595px;
        color: rgb(229, 255, 0);
        position: relative;
        top: -350px;    
        left: 600px;  
    }
    #immune_map{
    height:1000px;
    width: var(--width_ImmuneMap);
    /* background-color: #742405; */
    position: relative;
    bottom: -100px;
    left: 100px;
    opacity: 100%;
    }

/* ------------------------------------------------------------------------------------------ */
/* Immunit' innata */

    #innata-section{
        width: 100%;
        height: 100vh;
        background-image: url(Imag/1.pagina_centrale/TEXt/S_innata.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 100px;
        display: flex;
        align-items: center;
        justify-content: space-around; 
        } 
        .innata-section{
            position: absolute;
        }
        #innata-section h2{
            font-weight: 300;
            font-size: 64px;
            width: 600px;
            color: azure;
            position: relative;
            top: -360px;  
            left: 600px;
        }
        #innata-section p {
            width: 595px;
            color: rgb(229, 255, 0);
            position: relative;
            top: -350px;      
        }
        #innata_map{
        height:700px;
        width: var(--width_ImmuneMap);
        background-color: #a5431d;
        position: relative;
        bottom: -100px;
        right: 300px;
        opacity: 100%;
        }
/* ------------------------------------------------------------------------------------------------- */
/* Immunit' adattiva */

#adattiva-section{
    width: 100%;
    height: 100vh;
    background-image: url(Imag/1.pagina_centrale/TEXt/S_Adattiva.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    } 
    .adattiva-section{
        position: absolute;
    }
    #adattiva-section h2{
        font-weight: 300;
        font-size: 64px;
        width: 600px;
        color: azure;
        position: relative;
        top: -360px;  
        left: 600px;
    }
    #adattiva-section p {
        width: 595px;
        color: rgb(229, 255, 0);
        position: relative;
        top: -350px;      
    }
    #adattiva_map{
    height:700px;
    width: var(--width_ImmuneMap);
    background-color: #9b4a2a;
    position: relative;
    bottom: -100px;
    right: 300px;
    opacity: 100%;
    }

/* ------------------------------------------------------------------------------------------------- */
/* Immunit' adattiva */

#malattie-section{
    width: 100%;
    height: 100vh;
    background-image: url(Imag/1.pagina_centrale/TEXt/S_Vaccini.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    } 
    .malattie-section{
        position: absolute;
    }
    #malattie-section h2{
        font-weight: 300;
        font-size: 64px;
        width: 600px;
        color: azure;
        position: relative;
        top: -360px;  
        left: 600px;
    }
    #malattie-section p {
        width: 595px;
        color: rgb(229, 255, 0);
        position: relative;
        top: -350px;      
    }
    #malattie_map{
    height:700px;
    width: var(--width_ImmuneMap);
    background-color: #e07950;
    position: relative;
    bottom: -100px;
    right: 300px;
    opacity: 100%;
    }

/*  End - Sezioni Della pagina Centrale  */

/* ------------------------------------------------------------------------------------------------- */
