html{
    scroll-behavior: smooth;
}

body{
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(2,70,107,1) 100%);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7em;
    color: rgb(255, 218, 169);
    text-align: center ;

}




h3{
    color: darkslategrey;
}

h4{
    position: absolute;   
    left: 32px;
    top: 32px;
}

/* ------------------------------------------------------------------- */

/*  Start - Pulsanti della Pagina Centrale  */

.sistema_linfatico {
    height: var(--height_Button);
    width: var(--width_Button);
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: wheat;
    text-align: center;
    border-radius: 10%;
    position: relative;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 150px;
    transition: 0.5s;
    
}


 .sistema_immunitario{
    height: var(--height_Button);
    width: var(--width_Button);
    /* background-color: rgb(26, 0, 172); */
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: wheat;
    text-align: center;
    border-radius: 10%;
    position: relative;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 150px;
    transition: 0.5s;
}



.italiano{
    height: var(--height_Button);
    width: var(--width_Button);
    /* background-color: rgb(26, 0, 172); */
    background: var(--gradiantcolor1);
    background: var(--gradiantcolor2);
    color: wheat;
    text-align: center;
    border-radius: 10%;
    position: relative;
    top: var(--postionyButton);
    left: var(--postionxButton);
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 150px; 
    margin-right: 150px;
    transition: 0.5s;
}

/* Effetti */

.sistema_linfatico:hover,
.sistema_immunitario:hover,
.italiano:hover{
    transform: scale(110%);
    background-color: beige;
    background: rgb(237,255,88);
    background: radial-gradient(circle, rgba(237,255,88,0.3) 0%, rgba(0,52,107,0.053658963585434205) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  End - Pulsanti della Pagina Centrale  */


/* ------------------------------------------------------------------------------------------------- */


/*  Start - Sezioni Della pagina Centrale  */

#section1 {
    height: 1250px;
     width: 1920px;
    background-color: rgb(0, 89, 148);
    color: #ffffffce;
    text-align: center;
    font-size: 100px;
    display: flex;
    margin-top: 50px;
    position: relative;
    top: 500px;;
} 



 #section2{
    height: 1250px;
     width: 1920px;
    background-color: rgb(65, 179, 255);
    color: #ffffffce;
    text-align: center;
    font-size: 100px;
    display: flex;
    margin-top: 50px;
    position: relative;
    top: 500px;;;
    } 



 #section3 {
    height: 1250px;
     width: 1920px;
    background-color: rgb(147, 212, 255);
    color: #ffffffce;
    text-align: center;
    font-size: 100px;
    display: flex;
    margin-top: 50px;
    position: relative;
    top: 500px;;
} 


/*  End - Sezioni Della pagina Centrale  */

/* ----------------------------------------------------------------------------------------------
