html {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    position: relative;
    display: inline-block;
  }

  .base-image {
    display: block;
    width: 1000px; /* Adjust size as needed */
  }

  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: auto;
    pointer-events: none;
    transition: transform 0.3s ease;
    z-index: 2;
  }

  .hover-zone {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1); /* Red translucent box */
    z-index: 3;
  }

   .popup {
     position: absolute;
     background: #e0f7fa; /* Azzurro chiaro */
     color: #004d60;       /* Blu scuro */
     padding: 10px;
     border: 1px solid #00acc1; /* Azzurro più saturo */
     border-radius: 6px;
     font-family: 'Segoe UI', sans-serif;
     font-size: 14px;
     line-height: 1.4;
     word-wrap: break-word;
     width: 180px;
     box-shadow: 0 2px 10px rgba(0, 172, 193, 0.2);
     display: none;
     transform: translate(+50%, -150%);
     z-index: 4;
   }

   .cellule_map .hover-zone {
    background-color: rgba(0, 0, 0, 0); /* Red translucent box */
   }

}