html {
      scroll-padding-top: 308px; /* Altezza header + titolo */
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f4faff;
      color: #003366;
    }
    header {
      position: sticky;
      top: 0;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #0077cc;
      color: white;
    }
    header img {
      height: 160px;
      width: 250px;
      cursor: pointer;
      border-radius: 8px;
    }
    nav button {
      margin-left: 10px;
      background-color: #005fa3;
      color: white;
      border: none;
      padding: 28px 36px;
      font-size: 24px;
      border-radius: 12px;
      cursor: pointer;
    }
    nav button:hover {
      background-color: #004080;
    }
    nav button.active {
      background-color: #003366;
      cursor: default;
      font-weight: bold;
    }
    .page-title-bar {
      position: sticky;
      top: 180px;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #e0f0ff;
    }
    .page-title-bar h1 {
      font-size: 48px;
    }
    .subtitle-highlight {
      font-weight: bold;
      color: #005fa3;
    }
    select {
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid #0077cc;
      background-color: #ffffff;
      color: #003366;
      font-size: 16px;
      box-shadow: 0 2px 5px rgba(0, 119, 204, 0.2);
      transition: all 0.3s ease;
    }
    select:hover, select:focus {
      border-color: #005fa3;
      outline: none;
      box-shadow: 0 0 8px rgba(0, 95, 163, 0.3);
    }
    section {
      padding: 20px;
      border-bottom: 1px solid #ccc;
    }
    .indice {
      background-color: #ffffff;
      padding: 20px;
      border-bottom: 1px solid #ccc;
    }
    .indice h2 {
      color: #005fa3;
    }
    .indice ul {
      list-style-type: disc;
      padding-left: 20px;
    }
    .indice li {
      margin-bottom: 10px;
      cursor: pointer;
      color: #003366;
    }
    .indice li:hover {
      text-decoration: underline;
      color: #0077cc;
    }